extends ../layout

block content
    //-Breadcrumbs
    div.breadcrumbs
       div.container
            h1.pull-left=title
            ul.pull-right.breadcrumb
                li
                    a(href='/') Home
                li
                    a(href='/gallery') Gallery
                li.active
                    a(href='') Los Angeles
    div.container.content
        //-div.text-center.margin-bottom-50
        //-    h2.title-v2.title-center Los Angeles
        //-    p.space-lg-hor If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.
        div.row.margin-bottom-30
            div.col-sm-4.sm-margin-bottom-30
                a.fancybox.img-hover-v1(href='/images/gallery/los-angeles/los_angeles_1.jpg', rel='gallery1', title='Image 1')
                    span
                        img.img-responsive(src='/images/gallery/los-angeles/los_angeles_1.jpg', alt='')
            div.col-sm-4.sm-margin-bottom-30
                a.fancybox.img-hover-v1(href='/images/gallery/los-angeles/los_angeles_2.jpg', rel='gallery1', title='Image 1')
                    span
                        img.img-responsive(src='/images/gallery/los-angeles/los_angeles_2.jpg', alt='')
            div.col-sm-4.sm-margin-bottom-30
                a.fancybox.img-hover-v1(href='/images/gallery/los-angeles/los_angeles_3.jpg', rel='gallery1', title='Image 1')
                    span
                        img.img-responsive(src='/images/gallery/los-angeles/los_angeles_3.jpg', alt='')
        div.row.margin-bottom-30
            div.col-sm-4.sm-margin-bottom-30
                a.fancybox.img-hover-v1(href='/images/gallery/los-angeles/los_angeles_4.jpg', rel='gallery1', title='Image 1')
                    span
                        img.img-responsive(src='/images/gallery/los-angeles/los_angeles_4.jpg', alt='')
            div.col-sm-4.sm-margin-bottom-30
                a.fancybox.img-hover-v1(href='/images/gallery/los-angeles/los_angeles_5.jpg', rel='gallery1', title='Image 1')
                    span
                        img.img-responsive(src='/images/gallery/los-angeles/los_angeles_5.jpg', alt='')
            div.col-sm-4.sm-margin-bottom-30
                a.fancybox.img-hover-v1(href='/images/gallery/los-angeles/los_angeles_6.jpg', rel='gallery1', title='Image 1')
                    span
                        img.img-responsive(src='/images/gallery/los-angeles/los_angeles_6.jpg', alt='')

    //-JS Implementing Plugins
    script(type='text/javascript',src='/plugins/fancybox/source/jquery.fancybox.pack.js')
    //-JS Page Level
    script(type='text/javascript',src='/javascripts/plugins/fancy-box.js')
    script(type='text/javascript').
        jQuery(document).ready(function () {
            FancyBox.initFancybox();
        });


