extends ../layout

block content
    //-Breadcrumbs
    div.breadcrumbs
        div.container
            h1.pull-left Blog
            ul.pull-right.breadcrumb
                li
                    a(href='/') Home
                li
                    a(href='/blog') Blog
                li.active
                    a(href='')=title
    //-End Breadcrumbs
    div.container.content
        div.row
            div.col-md-10.col-md-offset-1
                //-Blog grid
                div.blog-grid.margin-bottom-30
                    h2.blog-grid-title-lg=title
                    div.overflow-h.margin-bottom-10
                        ul.blog-grid-info.pull-left
                            li Matt Husar
                            li January 20, 2016
                    //-img.img-responsive(src='/images/blog/audiovisualizer.png',alt='')
                p A Javascript-based audio visualizer using Processing.js
                div(id='content')
                    div.responsive(id='div_canvas')
                        canvas(id='AudioVisualizerSketch', data-processing-sources='/plugins/processing/AudioVisualizerSketch.js', style='height:auto; width: auto;')
                            p Your browser does not support the canvas tag
                        noscript
                            p Javascript is required to view the contents of this page.
                p(id='Sources') Source code
                    a(href='/plugins/processing/AudioVisualizerSketch.js' target='_blank') &nbsp;AudioVisualizerSketch
                    a(href='/plugins/processing/maxim.js' target='_blank') &nbsp;maxim.js
                p.
                    Built with <a href="http://processing.org" title="Processing" target="_blank">Processing</a>
                    and <a href="http://processingjs.org" title="Processing.js" target="_blank">Processing.js</a>

    //-Processing
    script(type='text/javascript',src='/plugins/processing/processing.min.js')
    script(type='text/javascript',src='/plugins/processing/maxim.js')
    script(type='text/javascript',src='/plugins/processing/AudioVisualizerSketch.js')
    script(type='text/javascript').
        $(document).ready(function () {
            $(window).resize(function(){
                var sketch = Processing.getInstanceById('AudioVisualizerSketch');
                var canvasWidth = document.getElementById('div_canvas').offsetWidth;
                var canvasHeight = document.getElementById('div_canvas').offsetHeight;
                if(!sketch){
                    setTimeout($(window).resize,250);
                }
                else{
                    sketch.resizeSketch(canvasWidth, canvasHeight);
                }
            });
            $(window).resize();
        });