extends ../layout

block content
    div.breadcrumbs
        div.container
            a(href='/blog')
                h1.pull-left Blog
            ul.pull-right.breadcrumb
                li
                    a(href='/') Home
                li
                    a(href='/blog') Blog
                li.active
                    a(href='')=title
    //-End Breadcrumbs
    div.container.content-sm.bg-color-darker
        div.row
            div.bg-color-darker.col-md-8.col-md-offset-2
                div(ng-app="myApp" ng-controller="myCtrl")
                    h2.Title=title
                    ul.list-inline.posted-info
                        li Matt Husar
                        li July 16, 2016
                    hr
                    p.
                        Abandoned places - there is something fascinating about them. Urban exploration is a popular hobby for many people. I do not think it's a new phenomenon - but social media has undoubtedly made it more popular.
                    p.
                        I recently purchased a cheap SLR camera (Nikon D3300) and I am now constantly on the hunt for cool things to photograph.
                    p.
                        A few weeks ago I took a trip to Ocean City, MD - traveling up Route 13 via the Chesapeake Bay Bridge-Tunnel. After crossing the Bay you arrive on eastern shore of Virginia, a very rural area with a few small towns scattered around.

                    img.img-responsive.margin-bottom-20(src='/images/blog/central-high-school/DSC_0108.jpg',alt='')




