extends ../layout

block content
    //-Breadcrumbs
    //div.breadcrumbs-v1.img-japan-1
    //    div.container
    //        span Blog
    //        h1 Japan Part 1
    div.breadcrumbs
        div.container
            a(href='/blog')
                h1.pull-left Blog
            ul.pull-right.breadcrumb
                li
                    a(href='/') Home
                li
                    a(href='/blog') Blog
                li.active
                    a(href='')=title
    //-End Breadcrumbs
    div.container.content-sm
        div.news-v3.margin-bottom-60
            //div.news-v3-in.bg-color-darker
            //    h2.Title=title + ' - Arrival'
            //    ul.list-inline.posted-info
            //        li Matt Husar
            //        li January 20, 2016
            //img.img-responsive.full-width(src='/images/gallery/misc/japan_1.jpg',alt='')
            div.news-v3-in.bg-color-darker
                div.row
                    div.col-md-10.col-md-offset-1
                        h2.Title=title
                            small &nbsp;(Arriving)
                        ul.list-inline.posted-info
                            li Matt Husar
                            li January 20, 2016
                        br
                        p.
                            In 2011 I had the opportunity to spend a few months in Japan. It was an amazing experience - if you've ever thought of going I would highly recommend it.
                            I took a ton of pictures while I was over there, but never had a chance to put a narrative behind them.
                        p Well - I am finally getting around to doing just that. Due to the amount of content I will be breaking this up into multiple parts.
                        p So without further ado this is part 1.
                        //img.img-responsive.margin-bottom-30(src='/images/gallery/japan/japan-part-1/1.jpg',alt='')
                        //p.
                        //    Arriving in Narita after 14 hour flight.
                        img.img-responsive.margin-bottom-20(src='/images/gallery/japan/japan-part-1/2.jpg',alt='')
                        p.
                            After a 14 hour flight we arrived in Japan at Narita, the country's predominant international airport located outside of Tokyo.

                            We collected our luggage, exchanged our currency for yen and made our way to our hotel.
                        br
                        img.img-responsive.margin-bottom-20(src='/images/gallery/japan/japan-part-1/5.jpg',alt='')
                        p.
                            We stayed for the night at the Narita Airport Rest House, just a short walk from the arrival terminals.
                            This is the view from the hotel.
                        br
                        img.img-responsive.margin-bottom-20(src='/images/gallery/japan/japan-part-1/4.jpg',alt='')
                        p.
                            I turned on the TV to see President Obama with subtitles. I remember my room smelled heavily of cigarette smoke - but I was too jet-lagged to care.
                        br
                        img.img-responsive.margin-bottom-20(src='/images/gallery/japan/japan-part-1/6.jpg',alt='')
                        p.
                            Our mission the next day was to take several trains to our ultimate designation of Yonago, in the Tottori prefecture.
                            We made our way to the train station - first stopping at McDonald's. This was my first real experience with just how serious the Japanese
                            are about customer service - even the average fast food worker is super polite, cheery and helpful. I knew practically zero Japanese - luckily
                            they had a large menu with pictures at the counter and I could just point at what I wanted to order.
                        br
                        img.img-responsive.margin-bottom-20(src='/images/gallery/japan/japan-part-1/15.jpg',alt='')
                        p.
                            I saw this on the menu and pointed at it right away.
                            Here is the Japanese McDonald's exclusive "Mega Muffin" - double sausage and bacon, egg, cheese and lots of ketchup.
                            The double meat seemed like a very American thing to do - so I was a bit surprised.
                        br
                        img.img-responsive.margin-bottom-20(src='/images/gallery/japan/japan-part-1/8.jpg',alt='')
                        p.
                            Narita station
                        br
                        img.img-responsive.margin-bottom-20(src='/images/gallery/japan/japan-part-1/10.jpg',alt='')
                        p.
                            Catching the Shinkansen in Shinigawa
                        br
                        img.img-responsive.margin-bottom-20(src='/images/gallery/japan/japan-part-1/28.jpg',alt='')
                        p.
                            Inside the Shikansen. These things are honestly amazing. They are super quick and quiet.
                            This picture also gives a good idea of how spacious and comfortable the interiors are.
                        br
                        img.img-responsive.margin-bottom-20(src='/images/gallery/japan/japan-part-1/16.jpg',alt='')
                        p.
                            Admiring some vending machines in Shinigawa
                        br
                        img.img-responsive.margin-bottom-20(src='/images/gallery/japan/japan-part-1/26.jpg',alt='')
                        p.
                            Train station in Tokyo
                        br
                        img.img-responsive.margin-bottom-20(src='/images/gallery/japan/japan-part-1/21.jpg',alt='')
                        p.
                            Fuji off in the distance
                        br
                        img.img-responsive.margin-bottom-20(src='/images/gallery/japan/japan-part-1/23.jpg',alt='')
                        p.
                            At a grocery story in Okayama
                        br
                        img.img-responsive.margin-bottom-20(src='/images/gallery/japan/japan-part-1/24.jpg',alt='')
                        p.
                            Beer aisle
                        br
                        img.img-responsive.margin-bottom-20(src='/images/gallery/japan/japan-part-1/11.jpg',alt='')
                        p.
                            More vending machines in Okayama
                        br
                        img.img-responsive.margin-bottom-20(src='/images/gallery/japan/japan-part-1/27.jpg',alt='')
                        p.
                            Food display
                        br
                        img.img-responsive.margin-bottom-20(src='/images/gallery/japan/japan-part-1/20.jpg',alt='')
                        p.
                            Catching our last train in Tottori
