extends layout

block content
    //-Breadcrumbs
    div.breadcrumbs-v3.breadcrumbs-lg.img-v2
        div.container
            h1 Matt Husar
            p Software Developer
    div.container.content-sm
        div.row
            //-Social Network
            div.col-md-6.md-margin-bottom-50
                div.headline-left.margin-bottom-30
                    h2.headline-brd.heading-md ABOUT
                        span.color-aqua &nbsp;ME
                    p Hello, my name is Matt.
                    p.
                        I got into software development after taking an introductory programming class in college.
                        I mainly gravitate towards web development - it poses a lot of challenges but also provides the payoff of being able to share your work with anyone anywhere.
                    p.
                        Professionally I have developed mainly in the .NET world - but have worked with many other languages and environments.
                        Most recently I have dived into the world of Javascript-based web-development - in fact this site started as a way to learn and experiment with Node.js.

                    br
                    ul.list-inline.social-icons-v1
                        li
                            a(href='https://www.instagram.com/husarms', target='_blank')
                                i.rounded-x.fa.fa-instagram
                        li
                            a(href='https://www.linkedin.com/in/matthusar', target='_blank')
                                i.rounded-x.fa.fa-linkedin
                        li
                            a(href='https://github.com/husarms', target='_blank')
                                i.rounded-x.fa.fa-github-alt
            //-Progress Bar
            div.col-md-6.progress-box.md-margin-bottom-50
                div.headline-left.margin-bottom-30
                    h2.headerline-brd.heading-md MY
                        span.color-aqua &nbsp;SKILLS
                h3.heading-xs Web Design, HTML, CSS
                    span.pull-right 83%
                div.progress.progress-u.progress-xxs
                    div.progress-bar.progress-bar-aqua(role='progressbar', data-width='86')
                h3.heading-xs .NET / C#
                    span.pull-right 94%
                div.progress.progress-u.progress-xxs
                    div.progress-bar.progress-bar-aqua(role='progressbar', data-width='94')
                h3.heading-xs Javascript
                    span.pull-right 76%
                div.progress.progress-u.progress-xxs
                    div.progress-bar.progress-bar-aqua(role='progressbar', data-width='76')
                h3.heading-xs Database Design, SQL
                    span.pull-right 92%
                div.progress.progress-u.progress-xxs
                    div.progress-bar.progress-bar-aqua(role='progressbar', data-width='92')

    //-JS Implementing Plugins
    script(type='text/javascript',src='/plugins/jquery-appear.js')
    script(type='text/javascript',src='/plugins/cube-portfolio/cubeportfolio/js/jquery.cubeportfolio.min.js')

    //-JS Page Level
    script(type='text/javascript',src='/plugins/progress-bar.js')
    script(type='text/javascript',src='/javascripts/plugins/cube-portfolio/cube-portfolio-lightbox.js')
    script(type='text/javascript').
        jQuery(document).ready(function () {
            ProgressBar.initProgressBarHorizontal();
        });


