extends layout

block content
    //-Breadcrumbs
    div.breadcrumbs-v3.breadcrumbs-lg.img-v2
        div.container
            h1 First Name Last Name
            p Occupation
    div.container.content-sm
        div.row
            //-Social Network
            div.col-md-6.md-margin-bottom-50
                div.headline-left.margin-bottom-30
                    h2.headline-brd.heading-md ABOUT
                        span.color-aqua &nbsp;ME
                    p Foster tackle reduce child mortality freedom accelerate dedicated international development United Nations. Environmental progressive deep engagement; giving carbon rights community health workers achieve inspiration.
                    p Development United Nations. Environmental progressive deep engagement; giving carbon rights community health workers achieve inspiration.
                    br
                    ul.list-inline.social-icons-v1
                        li
                            a(href='#')
                                i.rounded-x.fa.fa-twitter
                        li
                            a(href='#')
                                i.rounded-x.fa.fa-facebook
                        li
                            a(href='#')
                                i.rounded-x.fa.fa-google-plus
                        li
                            a(href='#')
                                i.rounded-x.fa.fa-linkedin
                        li
                            a(href='#')
                                i.rounded-x.fa.fa-instagram
            //-Progress Bar
            div.col-md-6.progress-box.md-margin-bottom-50
                div.headline-left.margin-bottom-30
                    h2.headerline-brd.heading-md MY
                        span.color-aqua &nbsp;SKILLS
                h3.heading-xs Web Design
                    span.pull-right 88%
                div.progress.progress-u.progress-xxs
                    div.progress-bar.progress-bar-aqua(role='progressbar', data-width='88')
                h3.heading-xs PHP/Wordpress
                    span.pull-right 76%
                div.progress.progress-u.progress-xxs
                    div.progress-bar.progress-bar-aqua(role='progressbar', data-width='76')
                h3.heading-xs HTML/CSS
                    span.pull-right 97%
                div.progress.progress-u.progress-xxs
                    div.progress-bar.progress-bar-aqua(role='progressbar', data-width='97')

    //-JS Implementing Plugins
    script(type='text/javascript',src='/plugins/jquery-appear.js')
    script(type='text/javascript',src='/plugins/cube-portfolio/cubeportfolio/js/jquery.cubeportfolio.min.js')

    //-JS Page Level
    script(type='text/javascript',src='/plugins/progress-bar.js')
    script(type='text/javascript',src='/javascripts/plugins/cube-portfolio/cube-portfolio-lightbox.js')
    script(type='text/javascript').
        jQuery(document).ready(function () {
            ProgressBar.initProgressBarHorizontal();
        });


