extends layout

block content
    //-Breadcrumbs
    div.breadcrumbs
        div.container
            h1.pull-left=title
    div.container.content-sm
        div.row
            //p This site was created with express purpose of:
            //ul
            //    li Shameless self-promotion
            //    li Experimenting with web design
            //    li Learning Node.js - and specifically the MEAN stack (Mongodb, Express, AngularJs, NodeJs)
            //-Call to action
            div.call-action-v1.bg-light
                div.container
                    div.call-action-v1-box
                        div.call-action-v1-in
                            p This site was created with express purpose of:
                            ul
                                br
                                li Shameless self-promotion
                                li Experimenting with web design
                                li Learning Node.js - and specifically the MEAN stack (Mongodb, Express, AngularJs, NodeJs)

