extends layout

block content
    //-Breadcrumbs
    div.breadcrumbs
        div.container
            h1.pull-left=title
    div.container.content-sm
        div.row
            //-Blog posts
            div.col-md-9
                div.news-v3.margin-bottom-30
                    //-Japan Part 1
                    img.img-responsive.full-width(src='/images/gallery/japan/japan-part-1/8.jpg', alt='')
                    div.news-v3-in
                        ul.list-inline.posted-info
                            li By&nbsp;
                                a.dark(href='#') Matt Husar
                            li Posted January 20, 2016
                        h2
                            a(href='/blog/posts/japan-part-1') Japan Part 1
                        p In 2011 I had the opportunity to spend a few months in Japan. It was an amazing experience - if you've ever thought of going I would highly recommend it. I took a ton of pictures while I was over there, but never had a chance to put a narrative behind them.
                        p Well - I am finally getting around to doing just that. Due to the amount of content I will be breaking this up into multiple parts.
                        p So without further ado this is part 1.
                        p
                            a.btn-u.btn-u-small.btn-brd-hover(href='/blog/posts/japan-part-1') <i class="fa fa-plus"></i> Read More
                div.news-v3.margin-bottom-30
                    //-Audio visualizer
                    img.img-responsive.full-width(src='/images/blog/audiovisualizer.png', alt='')
                    div.news-v3-in
                        ul.list-inline.posted-info
                            li By&nbsp;
                                a.dark(href='#') Matt Husar
                            li Posted January 19, 2016
                        h2
                            a(href='/blog/posts/audio-visualizer') Audio Visualizer
                        p Creating an audio visualizer with Javascript
                        p
                            a.btn-u.btn-u-small.btn-brd-hover(href='/blog/posts/audio-visualizer') <i class="fa fa-plus"></i> Read More
            //-Sidebar
            div.col-md-3
                h2.headerline-brd.heading-md Latest
                    span.color-aqua &nbsp;Posts
                ul.list-unstyled.blog-latest-posts.margin-bottom-50
                    li
                        h3
                            a(href='/blog/posts/japan-part-1') Japan Part 1
                        small 20 Jan 2016
                        p Part 1 in a series of posts on Japan
                    li
                        h3
                            a(href='/blog/posts/audio-visualizer') Audio Visualizer
                        small 19 Jan 2016
                        p Creating an audio visualizer with Javascript


