doctype html
html
    head
        title= title
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel='shortcut icon' href='/favicon.ico')
        //-Web Fonts
        link(rel='stylesheet', type='text/css', href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin')
        link(rel='stylesheet', type='text/css', href='//fonts.googleapis.com/css?family=Roboto:400,300,600&amp;subset=cyrillic,latin')
        //-CSS Global Compulsory
        link(rel='stylesheet', href='/plugins/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/style.min.css')
        //-link(rel='stylesheet', href='/stylesheets/blog.style.css')
        //-CSS Header and Footer
        link(rel='stylesheet', href='/stylesheets/header-default.min.css')
        link(rel='stylesheet', href='/stylesheets/footer-v3.min.css')
        //-CSS Implementing Plugins
        link(rel='stylesheet', href='/stylesheets/plugins/animate.min.css')
        link(rel='stylesheet', href='/plugins/line-icons/line-icons.min.css')
        link(rel='stylesheet', href='/plugins/font-awesome/css/font-awesome.min.css')
        link(rel='stylesheet', href='/plugins/owl-carousel/owl-carousel/owl.carousel.css')
        link(rel='stylesheet', href='/plugins/cube-portfolio/cubeportfolio/css/cubeportfolio.min.css')
        link(rel='stylesheet', href='/plugins/fancybox/source/jquery.fancybox.min.css')
        link(rel='stylesheet', href='/plugins/revolution-slider/rs-plugin/css/settings.min.css', media='screen')
        <!--[if lt IE 9]><link rel="stylesheet" href="assets/plugins/revolution-slider/rs-plugin/css/settings-ie8.min.css" type="text/css" media="screen"><![endif]-->
        //-CSS Page Style
        link(rel='stylesheet', href='/stylesheets/pages/page_search.min.css')
        link(rel='stylesheet', href='/stylesheets/pages/portfolio-v2.min.css')
        link(rel='stylesheet', href='/stylesheets/pages/blog.min.css')
        link(rel='stylesheet', href='/stylesheets/pages/page_one.min.css')
        //-CSS Theme
        link(rel='stylesheet', href='/stylesheets/theme-colors/teal.min.css')
        link(rel='stylesheet', href='/stylesheets/theme-skins/dark.min.css')
        link(rel='stylesheet', href='/stylesheets/prettify/desert.css')
        //-JS Global Compulsory
        script(type='text/javascript',src='/plugins/jquery/jquery.min.js')
        script(type='text/javascript',src='/plugins/jquery/jquery-migrate.min.js')
        script(type='text/javascript',src='/plugins/bootstrap/js/bootstrap.min.js')
        script(type='text/javascript',src='/plugins/angular/angular.min.js')
        script(type='text/javascript',src='/plugins/angular/angular-ui-router.min.js')
    body.dark
        div.wrapper
            div.header
                div.container
                    a(href='/')
                        img(src='/images/matthusar-dark-md-2.png',alt='logo',width='200px',height='77px')
                    button.navbar-toggle(type='button',data-toggle='collapse',data-target=".navbar-responsive-collapse")
                        span.sr-only Toggle Navigation
                        span.fa.fa-bars
                div.collapse.navbar-collapse.mega-menu.navbar-responsive-collapse
                    div.container
                        ul.nav.navbar-nav
                            li
                                a(href='/') Home
                            li
                                a(href='/blog') Blog
                            li
                                a(href='/gallery') Gallery
                            li
                                a(href='/about-me') About

            block navbar
            block content

            //-Footer
            div.footer-v3(id='footer-v3')
                div.copyright
                    div.container
                        div.row
                            div.col-md-6
                                p
                                    small 2016 &copy; All Rights Reserved. ォッャ
                            div.col-md-6
                                ul.social-icons.pull-right
                                    li
                                        a.rounded-x.social_instagram(href='https://www.instagram.com/husarms', target='_blank', data-original-title='Instagram')
                                    li
                                        a.rounded-x.social_linkedin(href='https://www.linkedin.com/in/matthusar', target='_blank', data-original-title='Linkedin')
                                    li
                                        a.rounded-x.social_github(href='https://github.com/husarms', target='_blank', data-original-title='GitHub')
            block footer

        //-JS Implementing Plugins - Global
        script(type='text/javascript',src='/javascripts/plugins/jquery.pjax.js')
        script(type='text/javascript',src='/plugins/back-to-top.js')
        script(type='text/javascript',src='/plugins/smoothScroll.js')

        //-JS Page Level
        script(type='text/javascript',src='/plugins/app.js')
        script(type='text/javascript').
            jQuery(document).ready(function () {
                App.init();
            });
        <!--[if lt IE 9]>
        <script src="/plugins/respond.js"></script>
        <script src="/plugins/html5shiv.js"></script>
        <script src="/plugins/placeholder-IE-fixes.js"></script>
        <![endif]-->
        block script